div.content-title {
    width: 80%;
    margin: 10px 0px;
}

h1.title {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding-left: 10px;
    border-bottom: 1px solid #4446;
}

span.icon {
    font-size: 2rem;
    margin-right: 20px;
}

p.subtitle {
    font-size: 1.4rem;
    margin: 10px 0px;
    padding-left: 10px;
}