header.site-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: solid 10px #FF5722;

    background-color: #616161 ;
}